<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ComponentIntercationShoppingCart</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <div uk-grid>
    <div class="uk-width-3-4@l uk-width-3-4@m uk-width-1-1@s">
      <h2 class="uk-heading-line uk-text-left"><span>Product's Cart</span></h2>
      <app-product-list></app-product-list>
    </div>

    <div class="uk-width-1-4@l uk-width-1-4@m uk-width-1-1@s">
      <h2 class="uk-heading-line uk-text-left"><span>Shopping Cart</span></h2>
      <app-cart-list-wrapper> </app-cart-list-wrapper>
    </div>
  </div>

</body>

</html>