<p>product-list works!</p>
<div class="container-fluid">
        <div class="row my-row">
        
            <div class="col-sm-12">
                
                <app-product-list-item 
                class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 " 
                style="text-align: center;height: 300px;border: 1px solid"
                 *ngFor="let product of productList" [product]="product"
                 (addToCartProduct)="getProductFromItemList($event)">
                </app-product-list-item>
            
             </div>   
            
        </div>
</div>

