<p>cart-list works!</p>

<li *ngFor="let product of cartProducts; let i = index" >
    <p>Name:{{product.name}}</p>
    <p>Price:{{product.price}} </p>
    <p>Quantity:{{product.quantity}}</p>
    <p>Total:{{product.price * product.quantity }}</p>
    <button (click)="removeProduct(product,i)">Remove</button>
</li>
<div *ngIf="overalltotal && cartProducts.length >= 1">
        <h3><b>Total bill:</b>{{overalltotal}}</h3>
</div>
<div *ngIf="cartProducts.length == 0" style="text-align: center">
        <img src="https://as2.ftcdn.net/jpg/02/68/72/93/500_F_268729337_iwKWxKPF5JGAnG82GwnfFUycWHHaY3v6.jpg"
        height="250px" width="auto" >
</div> 
<!--
<app-cart-list-item *ngFor="let product of cartProduct" [product]="product">
</app-cart-list-item>-->